#D-main-container{
  height:100vh; 
} 


#D-form{
  width:300px;
  height: min-content;
  border-radius: 5px;
  background-color: #D9D9D9;
  padding:15px;
  }
  .D-head{
font-style: Regular;
font-size: 20px; line-height: 23px;
line-height: 100%;
vertical-align: Top;
align-items: center;
justify-content: center;
  }

.btn-close{
  float:right;
}

#check-box{
  float:left;
}
#close{
  float:left;
}
#submit{
  float:right;
}